@import "tailwindcss";
@import 'primeicons/primeicons.css';
/* @import 'line-awesome/dist/line-awesome/css/line-awesome.css'; */


:root {
  --main-font: 'Racama-U', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font: 'SoyuzGrotesk';
  color-scheme: dark;
  color: #9EFFD5;
  background-color: #000000;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@theme {
  --color-primary: #9EC8FF;
}


@font-face {
  font-family: "SoyuzGroteskBold";
  src: url("../src/assets/fonts/Soyuz_Grotesk_Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Racama-U'; /* Название шрифта */
  src: url('src/assets/fonts/Racama-U.otf') format('opentype'); /* Укажите путь к файлу */
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* убираем фон у контейнера редактора */
.baklava-editor,
.baklava-editor__view,
.baklava-editor__content {
  background: transparent !important;
}

/* убираем фон у канваса, если он есть */
.baklava-graph,
.baklava-graph__background {
  background: transparent !important;
}

/* Обращаемся к ноде по типу */
.baklava-node[data-node-type="ResultNode"] {
    width: 350px !important; /* !important может понадобиться, если стиль перебивается инлайном */
    max-width: 350px;
}

/* На всякий случай, если структура DOM немного другая в вашей версии */
.node[data-type="ResultNode"] {
    width: 350px !important;
}



body {
  margin: 0;
  min-width: 320px;
  font-family: 'SoyuzGroteskBold', sans-serif;
  background-image: url('../src/assets/fog_bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: #000000;
  display: flex;
  flex-direction: column;  
}

#app {
  flex: 1 0 auto;
  width: 100%;
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
