@import "tailwindcss";
@import 'primeicons/primeicons.css';
/* @import 'line-awesome/dist/line-awesome/css/line-awesome.css'; */


:root {
  --main-font: 'Racama-U', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font: 'SoyuzGrotesk';
  color-scheme: dark;
  color: #9EFFD5;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  --baklava-background-color: #b3b3be;
  --baklava-grid-color: #1515ea;
}


@theme {
  --color-primary: #9EC8FF;
}


@font-face {
  font-family: "SoyuzGroteskBold";
  src: url("../src/assets/fonts/Soyuz_Grotesk_Bold.otf") format("opentype");
}
@font-face {
  font-family: 'Racama-U'; /* Название шрифта */
  src: url('src/assets/fonts/Racama-U.otf') format('opentype'); /* Укажите путь к файлу */
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'SoyuzGroteskBold', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  min-height: 100vh;
  width: 100vw;
  background-color: #000; /* чёрный фон */
  color: #fff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
